@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">404 - Not Found</h1>
        <p class="lead">The requested page could not be found. Please check the URL or go back to the <a href="/">home page</a>.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
        </p>
    </div>
</div>